* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

:root {
    --gradint: linear-gradient(90deg, #9BAFD9, #103783);
}

body {
    background-color: #9ca3a5;
    font-family: "Sonsie One", system-ui;

}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    background-color: #e7ebe7;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    color: #3BC9F3;
}

#game {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10vh 0; */
}

.cover {
    width: 70%;
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.game-box {
    width: 200px;
    height: 170px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #24211e;
    box-shadow: 0 7px 10px rgba(37, 36, 36, 1);
    position: relative;
    overflow: hidden;
    color: #f1f0f0;
}

.game-box p {
    font-weight: 600;
}

.game-box:hover {
    color: #f1f1f1;
}

.game-box * {
    position: relative;
    z-index: 2;
}

.game-box::after {
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    position: absolute;
    content: "";

    background-color: #333435;
    z-index: 0;
    transition: all 0.7s ease-in-out;
}

.game-box:hover:after {
    width: 200px;
    height: 170px;
    border-radius: 15px;
    /* z-index: 0; */
}

.game-box h3 {
    font-size: 1.2rem;
}

.game-box button {
    width: 80px;
    height: 35px;
    border: none;
    background-color: #a9b5cc;
    box-shadow: 3px 5px 3px #22222273, inset 0px 3px 5px #f1f0f0;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.game-box button:hover {
    box-shadow: 3px 3px 3px #22222273, inset 0px 3px 3px #f1f0f0;
}

/* play game box css */
#play-box {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 60%;
    gap: 10px;
    border: 2px solid black;
    background-color: #121212;
    color: #f1f0f0;
    border-radius: 20px;
    overflow: hidden;
}

#play-cover {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

.qus,
.opstion,
.play-btn {
    padding: 10px;
}

.opstion input[type="radio"] {
    accent-color: #2a74ff;
}

.play-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #152c57;
    /* opacity: ; */
}

.play-btn button {
    width: 80px;
    height: 30px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}

#result {
    display: none;
    padding: 20px;
    text-align: center;
}


@media (max-width:768px) {

    .cover {
     
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0px;
    }

    .game-box {
        width: 35vw;
        text-align: center;
    }

    .game-box h3 {
        font-size: 3.5vw;
    }

    .game-box p {
        font-size: 1.1rem;
    }

    #play-box{
        width: 60%;
        height: 80%;
        font-size: 1rem ;
        color: #bbbbbb;
    }

    /* #play-cover{
        display: block;
    } */

}